/* STRUCTURE */
body{
    height: 100vh;
    background: linear-gradient(#009688 0% 22%, #DBDBD3 22% 100% );
    font-family: 'Lato', sans-serif;
}
.my_container{
    max-width: 1500px;
    margin: auto;
    height: calc(100vh);
    padding: 25px 0 25px 0;
}
.left_column{
    width: 538px;
}
.right_column{
    flex-grow: 1;
}

/* MAIN STYLE */
/* left columm */
.col_header{
    padding: 10px;
    background-color: #EAEAEA;
}
.main_propic img{
    border-radius: 50%;
    width: 15%;
}
.features_{
    font-size: 23px;
    color: #B1B1B1;
    float: left;
}
