body{
    height: 100vh;
    background: linear-gradient(#009688 0% 22%, #DBDBD3 22% 100% );
}
.my_container{
    max-width: 1500px;
    margin: auto;
    height: calc(100vh);
    padding: 25px 0 25px 0;
}